pyyaml 
schedule 
loguru
business-rules
apscheduler
transitions
ephem
fastapi
pydantic
uvicorn[standard]
requests
pymodbus
matplotlib>=3.5.0
seaborn>=0.11.0
lightgbm 
optuna
SQLAlchemy
psycopg[binary]
pandas==2.3.1
numpy==2.3.2
scikit-learn==1.7.1
httpx
multipart
apscheduler